<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <div class="form-horizontal form-material" id="loginform">
        <h3 class="box-title m-b-20 text-center">Registro</h3>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Nombre completo" id="fullName" [(ngModel)]="fullName">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Correo" id="email" [(ngModel)]="email">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Contraseña" id="password" [(ngModel)]="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Confirmar contraseña" id="passwordConfirm" [(ngModel)]="passwordConfirm">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="termConditions" [(ngModel)]="termConditions">
              <label class="custom-control-label" for="termConditions">Estoy de acuerdo con los <a href="https://policies.google.com/terms?hl=es" target="_blank">terminos y condiciones</a>.</label>
            </div>
          </div>
        </div>
        <div class="form-group text-center p-b-20">
          <div class="col-xs-12" (click)="saveUser()">
            <a class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Regístrate</a> <!--[routerLink]="['/authentication/login']" -->
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            ¿Tienes una cuenta? <a class="text-info m-l-5" [routerLink]="['/']"><b>Login</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true }"></ngx-loading>
