<div class="card" *ngIf="tasks && tasks?.length > 0">
    <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Tareas por vencer</h4>
        <ul class="feeds">

            <ng-container>
                <li class="pointer" *ngFor="let task of tasks">
                    {{ task.title && task.title.length > 30 ? task.title.substr(0,30) + '...' : task.title }}
                    <span class="text-muted">{{ formatTime(task) }}</span>
                </li>
            </ng-container>

        </ul>
    </div>

</div>

<div class="row" *ngIf="!tasks || tasks?.length == 0">
    <div class="col-12">
        <h3 class="text-center mt-5 font-weight-bold">Sin tareas por vencer</h3>
    </div>
</div>