<div class="card">
    <div class="card-body">
        <h4 class="card-title"><span class="lstick"></span>Tareas por vencer</h4>
        <ul class="feeds">

            <ng-container *ngIf="tasks && tasks?.length > 0">
                <li *ngFor="let task of tasks">
                    {{ task.content }}
                    <span class="text-muted">1 día</span>
                </li>
            </ng-container>

            <ng-container *ngIf="(tasks && tasks?.length == 0) || !tasks">
                <li>
                   No hay tareas regístradas
                </li>
            </ng-container>

        </ul>
    </div>
</div>