<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-3 col-12" (click)="openModalTask()">
    <button class="btn btn-secondary btn-nueva-reserva w-100">
      <i class="fa fa-plus"></i> Tarea
    </button>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-6 col-12 offset-lg-5 offset-md-4 offset-sm-3 mt-lg-0 mt-md-0 mt-sm-0 mt-2">
    <div class="input-group">
      <input class="search form-control" type="text" [(ngModel)]="searchParams" placeholder="Buscar..."
        (keyup.enter)="getTasks(1, searchParams)" />
      <div class="input-group-append">
        <button class="btn btn-info" type="button" (click)="getTasks(1, searchParams)">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-lg-12" *ngIf="tasks && tasks.totalDocs > 0">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive table-data-general table-data-general-tasks">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center">Título</th>
                <th scope="col" class="text-center">Prioridad</th>
                <th scope="col" class="text-center">Vencimiento</th>
                <th scope="col" class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks.tasks; let i = index">
                <td class="text-center">{{ task.title }}</td>
                <td class="text-center">
                  <span *ngIf="task.priority == 'H'" class="badge m-auto badge-pill bg-danger text-white">Alta</span>
                  <span *ngIf="task.priority == 'M'" class="badge m-auto badge-pill bg-warning text-white">Media</span>
                  <span *ngIf="task.priority == 'L'" class="badge m-auto badge-pill bg-success text-white">Baja</span>
                  <span *ngIf="task.priority == 'N'" class="badge m-auto badge-pill bg-primary text-white">No
                    asignada</span>
                </td>
                <td class="text-center">{{ task.exp | date: "mediumDate" }}</td>

                <td class="text-center">
                  <button class="btn btn-sm btn-primary mr-1" (click)="openModalTask(task)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <!-- -->
                  <button class="btn btn-sm btn-danger" (click)="deleteTask(task._id)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <!--(click)="deletePromo(promo.agreementId)"-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row" *ngIf="tasks?.totalDocs > 0">
          <div class="col-12">
            <ngb-pagination
              class="d-flex justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-sm-center justify-content-center mt-3"
              [collectionSize]="tasks.totalDocs" [(page)]="page" [maxSize]="5"
              (pageChange)="getTasks(page, searchParams)" [pageSize]="pageSize" [boundaryLinks]="true" size="sm">
            </ngb-pagination>
          </div>
        </div>


      </div>
    </div>
  </div>

    <div class="col-12" *ngIf="tasks?.totalDocs == 0">
      <h3 class="text-center mt-5 font-weight-bold">Sin tareas regístradas</h3>
    </div>

</div>