<app-modal [title]="titleModal" [headerClass]="'bg-primary'">


  <div class="row">

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="form-group">
        <label for="title">Título <span class="text-danger font-weight-bold">*</span></label>
        <input type="text" class="form-control" id="title" aria-describedby="title" [(ngModel)]="title"
          name="categoryTemplate" placeholder="Ingresa título">
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <div class="form-group">
        <label class="control-label text-right-custom">F. de vencimiento <span
            class="text-danger font-weight-bold">*</span></label>

        <div class="input-group">
          <input readonly class="form-control" placeholder="dd/mm/yyyy" id="exp" name="exp" [(ngModel)]="exp"
            [ngModelOptions]="{standalone: true}"
            [minDate]="{year: dateDatePickerYear, month: dateDatePickerMonth, day: dateDatePickerDate}" ngbDatepicker
            #dstart="ngbDatepicker">

          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dstart.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="priority">Prioridad <span class="text-danger">*</span></label>
        <select class="form-control" [(ngModel)]="priority" name="priority" id="priority">
          <option value="H">Alta</option>
          <option value="M">Media</option>
          <option value="L">Baja</option>
          <option value="N">No asignada</option>
        </select>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="content">Contenido <span class="text-danger font-weight-bold">*</span></label>
        <textarea class="form-control" id="content" rows="3" [(ngModel)]="content" name="content"
          placeholder="Ingresa un contenido"></textarea>
      </div>
    </div>
  </div>


  <div class="modal-footer d-flex justify-content-center">
    <button class="btn btn-primary" (click)="saveTask()">Guardar</button> <!-- (click)="saveTask()" *ngIf="!templateModel"-->
    <button class="btn bg-danger text-white" (click)="close()">Cerrar</button>
  </div>
</app-modal>

<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true }"></ngx-loading>