.form-group.hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
  }
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }

.form-group-flex
{
    display: flex;
}


.create-selected, .edit-selected
{
    background-color: #fafafa;
}


.row-tab 
{
    margin-top: -15px;
    div
    {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        color: #000004; 
        line-height: 50px;
        cursor: pointer;
    }
     
  
}

.body-table-plans
{
  font-size: 0.7em;
}

.subtitles-registers
{
    border-bottom: 1px solid #3F51B5;
   // font-weight: bold;
    color: #3F51B5;
}


/*.li-accomodations-type
{
  border: 1px solid #fafafa;
  padding: 10px;
}*/

